<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1">
<title>Insert title here</title>
<link rel="stylesheet" type="text/css" href="login.css">
	<style>
		img {
			width: 20%;
			max-width: 300px;
			min-width: 200px;
		}
	</style>
</head>
<body>
	<a href="http://www.psi.gob.pe/"><img src="PSI.png" align="left|top" alt="psi"></a>
	<div class="login-page">
		<div class="form">
			<form action="/op" method="GET">
		    	<input type="text" placeholder="Usuario" name="usr" required>
			    <input type="password" placeholder="Clave" name="psw" required>
			    <button type="submit">Ingresar</button>
			</form>
		</div>
	</div>
</body>
</html>