<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Document</title>
	<link rel="stylesheet" type="text/css" href="st.css">
</head>
<body>
	<div class="topnav">
		About PSI
	</div>
	<h3>Bienvenido</h3>
	<ul>
		<li>Opción U1</li>
		<li>Opcion U2</li>
		<li>Opción Admin</li>
	</ul>
	<form action="/direcciones" method="GET">
		<button type="submit">VER DIRECCIONES</button>
	</form>
	<br>
	<form action="/areas" method="GET">
		<button type="submit">VER AREAS</button>
	</form>
</body>
</html>